@charset "utf-8";

/* A Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0
}

ul[role="list"],
ol[role="list"] {
  list-style: none
}

html:focus-within {
  scroll-behavior: smooth
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5
}

a:not([class]) {
  text-decoration-skip-ink: auto
}

img,
picture {
  max-width: 100%;
  display: block
}

input,
button,
textarea,
select {
  font: inherit
}

@media(prefers-reduced-motion:reduce) {
  html:focus-within {
    scroll-behavior: auto
  }

  *,
  *::before,
  *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important
  }
}

/*
* Variable
*/
$breakPoint: 768;

$color-01: #395B64;
$color-02: #4AAD5B;
$color-03: #E7F6F2;
$color-04: #86AEA3;
$color-05: #85ffde;
$color-brighter: #356671;
$color-darker: #234149;

$text-color: #333;

$panel-width: clamp(240px, 6vw, 320px);

$fontSize-01: clamp(2rem, 4.8vw, 5.6rem);
$fontSize-02: clamp(1.8rem, 3.6vw, 4rem);
$fontSize-03: clamp(1.7rem, 3.2vw, 3.2rem);
$fontSize-04: clamp(1.6rem, 2.4vw, 2.4rem);
$fontSize-05: clamp(1.4rem, 2vw, 2rem);
$fontSize-06: clamp(1.2rem, 1.6vw, 1.6rem);

$distance-01: clamp(32px, 6.4vh, 96px);
$distance-02: clamp(24px, 5.6vh, 80px);
$distance-03: clamp(16px, 4.8vh, 64px);


$shadow: -8px -8px 16px $color-brighter,
8px 8px 16px $color-darker;
$shadow-reverse: -8px 8px 16px $color-darker,
8px -8px 16px $color-brighter;

$ff: "Roboto",
"Helvetica Neue",
Arial,
"Hiragino Kaku Gothic ProN",
"Hiragino Sans",
Meiryo,
sans-serif;

$reference: 1200px;
$padding: 20px;

/*
* Mixin
*/
@mixin pc {

  @media print,
  screen and (min-width: $breakPoint+1px) {
    @content;
  }
}

@mixin spTab {
  @media screen and (max-width: $reference) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $breakPoint*1px) {
    @content;
  }
}

@mixin hover {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

/*
* Style
*/
html {
  font-family: $ff;
  color: #333;
  word-wrap: break-word;
  line-height: 1.5;
  letter-spacing: .07em;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  width: 100%;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: $color-01;
  font-size: 1.6rem;
}

p,
dl,
dt,
dd {
  margin: o;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

dialog {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  &:modal {
    max-width: inherit;
    max-height: inherit;
  }
}

#app {
  overflow-x: hidden;
}

@include sp {
  body {
    font-size: 1.4rem;
  }
}